[submodule "vrouter"]
	path = vrouter
	url = https://github.com/Juniper/contrail-vrouter
	ignore = dirty
[submodule "tools/sandesh"]
	path = tools/sandesh
	url = git@github.com:Juniper/contrail-sandesh
[submodule "controller"]
	path = controller
	url = https://github.com/Juniper/contrail-controller
