[submodule "controller"]
	path = controller
	url = https://github.com/hyphenOs/contrail-controller
	branch = devcontrail
[submodule "vrouter"]
	path = vrouter
	url = https://github.com/hyphenOs/contrail-vrouter
[submodule "tools/sandesh"]
	path = tools/sandesh
	url = https://github.com/hyphenOs/contrail-sandesh
[submodule "tools/generateds"]
	path = tools/generateds
	url = https://github.com/hyphenOs/contrail-generateDS
